In [1]:
import gzip
from collections import defaultdict
import math
import scipy.optimize
from sklearn import svm
import numpy as np
import numpy
import string
import random
import pandas as pd
import string
from sklearn import linear_model
from tqdm import tqdm
# from types import NoneType
import pickle 
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge

In [3]:
dataset_dir = "../../Datasets/"
allD = pickle.load(open(dataset_dir+"USA_data_final_prep.pkl",'rb'))
allD.head()

,gPlusUserId,gPlusPlaceId,userCategoryAvgRating,rating,year_1990,year_2001,year_2002,year_2003,year_2004,year_2005,...,state_SD,state_TN,state_TX,state_UT,state_VA,state_VT,state_WA,state_WI,state_WV,state_WY
8,100000059843227870895,117682556988480065346,3.000000,3.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,102006303856203035288,117682556988480065346,4.250000,5.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,102013085596157142926,117682556988480065346,4.250000,4.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,103615206841486883067,117682556988480065346,3.500000,4.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,104424487436220482372,117682556988480065346,4.285714,3.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
len(allD)

807629

In [10]:
for c in allD.columns.tolist():
    if "_" in c:
        c = c.replace("_", "\_")
    print("\\texttt{\"" + c + "\"}, ")

\texttt{"gPlusUserId"},
\texttt{"gPlusPlaceId"},
\texttt{"userCategoryAvgRating"},
\texttt{"rating"},
\texttt{"year_1990"},
\texttt{"year_2001"},
\texttt{"year_2002"},
\texttt{"year_2003"},
\texttt{"year_2004"},
\texttt{"year_2005"},
\texttt{"year_2006"},
\texttt{"year_2007"},
\texttt{"year_2008"},
\texttt{"year_2009"},
\texttt{"year_2010"},
\texttt{"year_2011"},
\texttt{"year_2012"},
\texttt{"year_2013"},
\texttt{"year_2014"},
\texttt{"month_01"},
\texttt{"month_02"},
\texttt{"month_03"},
\texttt{"month_04"},
\texttt{"month_05"},
\texttt{"month_06"},
\texttt{"month_07"},
\texttt{"month_08"},
\texttt{"month_09"},
\texttt{"month_10"},
\texttt{"month_11"},
\texttt{"month_12"},
\texttt{"final_category_AssocOrgs"},
\texttt{"final_category_Entertainment"},
\texttt{"final_category_Legal"},
\texttt{"final_category_Medical"},
\texttt{"final_category_Others"},
\texttt{"final_category_Public"},
\texttt{"final_category_Restaurant"},
\texttt{"final_category_School"},
\texttt{"final_category_ShopsStores"},
\texttt{"final_category_Venues"},
\texttt{"state_AL"},
\texttt{"state_AR"},
\texttt{"state_AZ"},
\texttt{"state_CA"},
\texttt{"state_CO"},
\texttt{"state_CT"},
\texttt{"state_DE"},
\texttt{"state_GA"},
\texttt{"state_IA"},
\texttt{"state_ID"},
\texttt{"state_IL"},
\texttt{"state_IN"},
\texttt{"state_KS"},
\texttt{"state_KY"},
\texttt{"state_LA"},
\texttt{"state_MA"},
\texttt{"state_MD"},
\texttt{"state_ME"},
\texttt{"state_MI"},
\texttt{"state_MN"},
\texttt{"state_MO"},
\texttt{"state_MS"},
\texttt{"state_MT"},
\texttt{"state_NC"},
\texttt{"state_ND"},
\texttt{"state_NE"},
\texttt{"state_NH"},
\texttt{"state_NJ"},
\texttt{"state_NM"},
\texttt{"state_NV"},
\texttt{"state_NY"},
\texttt{"state_OH"},
\texttt{"state_OK"},
\texttt{"state_OR"},
\texttt{"state_PA"},
\texttt{"state_RI"},
\texttt{"state_SC"},
\texttt{"state_SD"},
\texttt{"state_TN"},
\texttt{"state_TX"},
\texttt{"state_UT"},
\texttt{"state_VA"},
\texttt{"state_VT"},
\texttt{"state_WA"},
\texttt{"state_WI"},
\texttt{"state_WV"},
\texttt{"state_WY"},

In [4]:
mod2 = pickle.load(open(dataset_dir+"reviews.pkl",'rb'))
mod2.head()

,rating,reviewText,categories,gPlusPlaceId,unixReviewTime,gPlusUserId
0,3.0,Chất lượng tạm ổn,[Giải Trí - Café],108103314380004200232,1.372687e+09,100000010817154263736
1,5.0,Wc si temiz duzenli..,[Turkish Cuisine],102194128241608748649,1.342871e+09,100000013500285534661
2,5.0,何回も私は予定に休みがセルバに行ったので覚えて見て、分かります❗,"[Fishing, Pond Fish Supplier, Seafood Market]",101409858828175402384,1.390654e+09,100000021336848867366
3,5.0,今度は予定に休みが登米市に行きたい❗☀😅🌌 楽しいに日帰りに登米の見学の観光(*^)(*^-...,[Museum],101477177500158511502,1.389188e+09,100000021336848867366
4,4.0,気仙沼警察署に移転中に絆 👮🐎☺🙋🚓頑張ろう❗,[Police],106994170641063333085,1.390486e+09,100000021336848867366

In [5]:
mod2 = mod2.drop(['rating','reviewText','categories'], axis=1)

In [6]:
mod2.head()

            gPlusPlaceId  unixReviewTime            gPlusUserId
0  108103314380004200232    1.372687e+09  100000010817154263736
1  102194128241608748649    1.342871e+09  100000013500285534661
2  101409858828175402384    1.390654e+09  100000021336848867366
3  101477177500158511502    1.389188e+09  100000021336848867366
4  106994170641063333085    1.390486e+09  100000021336848867366

In [7]:
new_df = pd.merge(allD, mod2,  how='inner', left_on=['gPlusPlaceId','gPlusUserId'], right_on = ['gPlusPlaceId','gPlusUserId'])

In [8]:
new_df = new_df.sort_values(by = 'unixReviewTime')

In [9]:
new_df.reset_index()

,index,gPlusUserId,gPlusPlaceId,userCategoryAvgRating,rating,year_1990,year_2001,year_2002,year_2003,year_2004,...,state_TN,state_TX,state_UT,state_VA,state_VT,state_WA,state_WI,state_WV,state_WY,unixReviewTime
0,85342,107990166371485630777,101620263217440969236,4.062500,5.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,6.626016e+08
1,628857,109834886028794410215,113110949927529982763,3.884615,4.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,6.626016e+08
2,508920,110572053721766989549,117720487203485940804,3.748837,3.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,6.626016e+08
3,106384,106694819013691916344,100089064392055908776,4.400000,5.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,6.626016e+08
4,240433,108280644527697260660,101551139142788968294,4.500000,5.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,6.626016e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
807624,797895,113693474862129892992,117807124021665468377,2.000000,2.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.396047e+09
807625,517563,105647465831644556813,106080838666369644272,5.000000,5.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.396048e+09
807626,806617,114311821730280213183,107180878084076550709,1.000000,1.0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1.396058e+09
807627,633095,104509402744019266955,114440300867548398208,3.000000,3.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.396059e+09
807628,656901,103874677146599532446,117434848553998712685,4.000000,4.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.396063e+09

In [10]:
new_df = new_df[new_df["year_2001"] != 1].drop(columns=["year_2001"])

In [11]:
new_df.columns

Index(['gPlusUserId', 'gPlusPlaceId', 'userCategoryAvgRating', 'rating',
       'year_1990', 'year_2002', 'year_2003', 'year_2004', 'year_2005',
       'year_2006', 'year_2007', 'year_2008', 'year_2009', 'year_2010',
       'year_2011', 'year_2012', 'year_2013', 'year_2014', 'month_01',
       'month_02', 'month_03', 'month_04', 'month_05', 'month_06', 'month_07',
       'month_08', 'month_09', 'month_10', 'month_11', 'month_12',
       'final_category_AssocOrgs', 'final_category_Entertainment',
       'final_category_Legal', 'final_category_Medical',
       'final_category_Others', 'final_category_Public',
       'final_category_Restaurant', 'final_category_School',
       'final_category_ShopsStores', 'final_category_Venues', 'state_AL',
       'state_AR', 'state_AZ', 'state_CA', 'state_CO', 'state_CT', 'state_DE',
       'state_GA', 'state_IA', 'state_ID', 'state_IL', 'state_IN', 'state_KS',
       'state_KY', 'state_LA', 'state_MA', 'state_MD', 'state_ME', 'state_MI',
       'state_MN', 'state_MO', 'state_MS', 'state_MT', 'state_NC', 'state_ND',
       'state_NE', 'state_NH', 'state_NJ', 'state_NM', 'state_NV', 'state_NY',
       'state_OH', 'state_OK', 'state_OR', 'state_PA', 'state_RI', 'state_SC',
       'state_SD', 'state_TN', 'state_TX', 'state_UT', 'state_VA', 'state_VT',
       'state_WA', 'state_WI', 'state_WV', 'state_WY', 'unixReviewTime'],
      dtype='object')

In [12]:
list_to = []
for itm in list(new_df.columns):
    if "year" in itm or "month" in itm:
        list_to.append(itm)

In [13]:
list_to.append('unixReviewTime')

In [14]:
list_to

['year_1990',
 'year_2002',
 'year_2003',
 'year_2004',
 'year_2005',
 'year_2006',
 'year_2007',
 'year_2008',
 'year_2009',
 'year_2010',
 'year_2011',
 'year_2012',
 'year_2013',
 'year_2014',
 'month_01',
 'month_02',
 'month_03',
 'month_04',
 'month_05',
 'month_06',
 'month_07',
 'month_08',
 'month_09',
 'month_10',
 'month_11',
 'month_12',
 'unixReviewTime']

In [15]:
new_df = new_df.drop(labels= list_to,axis =1)

In [16]:
new_df = new_df.reset_index()

In [17]:
new_df = new_df.drop(labels = ['index'],axis = 1)

In [18]:
new_df.shape

(807628, 61)

In [19]:
new_df.head()

,gPlusUserId,gPlusPlaceId,userCategoryAvgRating,rating,final_category_AssocOrgs,final_category_Entertainment,final_category_Legal,final_category_Medical,final_category_Others,final_category_Public,...,state_SD,state_TN,state_TX,state_UT,state_VA,state_VT,state_WA,state_WI,state_WV,state_WY
0,107990166371485630777,101620263217440969236,4.062500,5.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,109834886028794410215,113110949927529982763,3.884615,4.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,110572053721766989549,117720487203485940804,3.748837,3.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,106694819013691916344,100089064392055908776,4.400000,5.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,108280644527697260660,101551139142788968294,4.500000,5.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
from metrics import MAE,MSE
from sklearn.linear_model import LinearRegression

In [21]:
y_ = new_df['rating']
y_.head()

0    5.0
1    4.0
2    3.0
3    5.0
4    5.0
Name: rating, dtype: float64

In [22]:
X_ = new_df.drop(labels = ['rating'],axis = 1)

In [23]:
X_.head()

,gPlusUserId,gPlusPlaceId,userCategoryAvgRating,final_category_AssocOrgs,final_category_Entertainment,final_category_Legal,final_category_Medical,final_category_Others,final_category_Public,final_category_Restaurant,...,state_SD,state_TN,state_TX,state_UT,state_VA,state_VT,state_WA,state_WI,state_WV,state_WY
0,107990166371485630777,101620263217440969236,4.062500,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,109834886028794410215,113110949927529982763,3.884615,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,110572053721766989549,117720487203485940804,3.748837,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,106694819013691916344,100089064392055908776,4.400000,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,108280644527697260660,101551139142788968294,4.500000,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [24]:
X_train, X_test, y_train, y_test = train_test_split(X_, y_, test_size=0.2, shuffle=False) 
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.25, shuffle = False)

In [25]:
X_train.to_pickle("../Datasets/temporal/final/X_train.pkl")
X_val.to_pickle("../Datasets/temporal/final/X_val.pkl")
X_test.to_pickle("../Datasets/temporal/final/X_test.pkl")

In [26]:
dataset_dir = "../Datasets/temporal/final/"
np_y = pd.DataFrame(np.array([y_train]).T,columns = ["rating"])
np_y.to_pickle(dataset_dir+"y_train.pkl")

np_y = pd.DataFrame(np.array([y_test]).T,columns = ["rating"])
np_y.to_pickle(dataset_dir+"y_test.pkl")


np_y = pd.DataFrame(np.array([y_val]).T,columns = ["rating"])
np_y.to_pickle(dataset_dir+"y_val.pkl")

In [27]:
X_train = X_train.drop(labels = ['gPlusUserId', 'gPlusPlaceId'],axis = 1).to_numpy()
X_val = X_val.drop(labels = ['gPlusUserId', 'gPlusPlaceId'],axis = 1).to_numpy()
X_test = X_test.drop(labels = ['gPlusUserId', 'gPlusPlaceId'],axis = 1).to_numpy()
y_train = y_train.to_numpy()
y_test = y_test.to_numpy()
y_val = y_val.to_numpy()

In [28]:
X_train.shape

(484576, 58)

In [29]:
y_train.shape

(484576,)

In [30]:
lr = LinearRegression()
lr.fit(X_train, y_train)
y_pred_val = lr.predict(X_val)
print("Validation")
print(MAE(predictions=y_pred_val, labels=y_val))
print(MSE(predictions=y_pred_val, labels=y_val))
print("Testing")
y_pred_ts = lr.predict(X_test)
print(MAE(predictions=y_pred_ts, labels=y_test))
print(MSE(predictions=y_pred_ts, labels=y_test))

Validation
0.2998930592033479
0.3374783671674846
Testing
0.27726044928267546
0.3609521795576084

In [31]:
best_model = None
best_mae = np.Inf
best_mse = np.Inf
best_alpha = np.Inf
print("Validation")
for alpha in [1e-3, 1e-2, 1e-1, 1e0, 1e1, 1e2, 1e3]:
    r = Ridge(alpha=alpha)
    r.fit(X_train, y_train)
    y_pred_val = r.predict(X_val)
    mae_val = MAE(predictions=y_pred_val, labels=y_val)
    mse_val = MSE(predictions=y_pred_val, labels=y_val)
    print(f"Alpha: {alpha}, MAE: {mae_val} , MSE : {mse_val}")
    
    if mae_val < best_mae:
        best_mae = mae_val
        best_model = r
        best_alpha = alpha

Validation
Alpha: 0.001, MAE: 0.29984222476043115 , MSE : 0.3374793464683904
Alpha: 0.01, MAE: 0.2998422267742485 , MSE : 0.33747934654094075
Alpha: 0.1, MAE: 0.29984224692139994 , MSE : 0.33747934726618567
Alpha: 1.0, MAE: 0.29984244937003646 , MSE : 0.33747935453527905
Alpha: 10.0, MAE: 0.2998445719843688 , MSE : 0.3374794290157403
Alpha: 100.0, MAE: 0.29987375648096376 , MSE : 0.33748038571659683
Alpha: 1000.0, MAE: 0.30057167559455084 , MSE : 0.3375004257005458

In [32]:
best_alpha

0.001

In [33]:
y_pred = best_model.predict(X_test)

In [34]:
print(MAE(predictions=y_pred, labels=y_test))
print(MSE(predictions=y_pred, labels=y_test))

0.277227866375908
0.3609566892698407